*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

body {
  font-family: var(--main-font);
  color: #212121;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.link,
.main-nav__logo,
.footer-main__logo {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.btn {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
}

section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.pre-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

header {
  border-bottom: 1px solid #ececec;
}

.main-nav {
  display: flex;
  align-items: center;
}

.main-nav__logo,
.footer-main__logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.main-nav__span,
.footer-main__span {
  font-family: var(--secondary-font);
  color: var(--primary-header-color);
  margin-left: -7px;
}

.navigation__list {
  display: flex;
  margin-left: 93px;
}

.navigation__list .item {
  position: relative;
}

.navigation__list > li {
  margin-left: 40px;
}

.navigation__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-header-color);
  transition: color 250ms var(--timing-function),
    transition 250ms var(--timing-function);
}

.navigation__link:hover,
.navigation__link:focus {
  color: var(--accent-color);
}

.navigation__item .current {
  color: var(--accent-color);
}

.navigation__link.current::after {
  content: "";
  display: block;
  position: absolute;
  background: var(--accent-color);
  border-radius: 2px;
  height: 4px;
  width: 100%;
  transform: translateY(30px);
  opacity: 1;
  transition: opacity 250ms var(--timing-function);
}

.navigation__link.current:hover::after {
  opacity: 1;
}

.connections-list {
  display: flex;
}

.connections-list > li {
  margin-left: 40px;
}

.connections-list {
  margin-left: auto;
}

.connections-list__email,
.connections-list__tel {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  transition: color 250ms var(--timing-function);
}

.connections-list__tel:focus,
.connections-list__tel:hover {
  color: var(--accent-color);
}

.connections-list__email:focus,
.connections-list__email:hover {
  color: var(--accent-color);
}

.connections-list__icon,
.header-phone-icon {
  margin-right: 10px;
  fill: currentColor;
  display: inline-flex;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero-bg.jpg);
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

.solutions__title {
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 696px;
}

.solutions__btn {
  padding: 10px 24px;
  color: #ffffff;
  background: var(--accent-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  display: block;
  margin: 0 auto;
  min-width: 200px;
  transition: background-color 950ms var(--timing-function);
}

.solutions__btn:hover {
  background-color: #188ce8;
}
/* ------------MODAL WINDOW --------------*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--timing-function),
    visibility 3450ms var(--timing-function);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background-color: #fff;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  transition: transform 250ms var(--timing-function);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(-180deg);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal__button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: fill 250ms var(--timing-function);
}

.modal__button:hover {
  fill: var(--accent-color);
}

.qualities {
  padding-top: 94px;
  padding-bottom: 0;
}

.characteristics {
  display: flex;
}

.characteristics__item {
  max-width: 270px;
  margin-right: 30px;
}

.characteristics__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-header-color);
  margin-bottom: 10px;
}

.characteristics__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.characteristics__icon {
  background-color: #f5f4fa;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.our-business__title {
  color: var(--primary-header-color);
  text-align: center;
  margin-bottom: 50px;
}

.card-list {
  display: flex;
}

.card-list__items {
  margin-right: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.desq-label {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
}

.desq-label__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: white;
}

.desq-label__text:nth-child(3) {
  padding: 27px 65px;
}

.our-team {
  background-color: #f5f4fa;
}

.our-team__title {
  text-align: center;
  color: var(--primary-header-color);
  margin-bottom: 50px;
}

.staff-list__subtitle {
  color: var(--primary-header-color);
  margin-bottom: 10px;
}

.staff-list__text {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin-bottom: 16px;
}

.staff-list {
  display: flex;
}

.staff-list__item {
  margin-right: 30px;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.staff-list__desq {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: white;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__items {
  width: 44px;
  height: 44px;
}

.social__items:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: white;
  color: #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms var(--timing-function),
    transition-duration 250ms var(--timing-function),
    color 250ms var(--timing-function);
}

.social__link:hover,
.social__link:focus {
  background-color: var(--accent-color);
  transition-duration: 0s;
}

.social__link:hover .social__icons {
  background-color: var(--accent-color);
  fill: white;
}

.social__link:focus .social__icons {
  background-color: 250ms var(--accent-color);
  fill: white;
}

.social__icons {
  fill: #afb1b8;
  transition: fill 250ms var(--timing-function);
}

.social__icons:hover {
  fill: white;
}

.clients {
  display: flex;
  margin-top: 50px;
}
.loyal-customers__title {
  text-align: center;
}

.clients__items {
  margin-right: 30px;
}

.clients__link {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  display: flex;
  transition: border-color 250ms var(--timing-function);
}

.clients__link:hover {
  outline: 1px solid var(--accent-color);
  border: 1px solid transparent;
}

.clients__icons {
  fill: #afb1b8;
  transition: fill 250ms var(--timing-function);
}

.clients__items:hover .clients__icons,
.clients__items:focus .clients__icons {
  fill: var(--accent-color);
  transition: 250ms var(--timing-function);
}

.clients__items:focus .clients__icons {
  fill: var(--accent-color);
}

.clients__items:last-child {
  margin-right: 0;
}

.options-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.websites {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.options-list > .options-list__item {
  display: flex;
  margin-right: 8px;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;
}

.card-set__item {
  margin-right: 30px;
  margin-bottom: 30px;
  overflow: hidden;
  transition: box-shadow 250ms var(--timing-function);
}

.card-set__item:hover,
.card-set__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-set__item:nth-child(3n) {
  margin-right: 0px;
}

.card-set__item:nth-last-of-type(-n + 3) {
  margin-bottom: 0px;
}

.options-list__btn {
  padding: 6px 22px;
  color: var(--primary-header-color);
  background: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: none;
  transition: background-color 250ms var(--timing-function),
    color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}

.options-list__btn:hover,
.options-list__btn:focus {
  background-color: var(--accent-color);
  color: white;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.websites__title {
  color: var(--primary-header-color);
}

.websites__text {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.overlay:hover:before {
  opacity: 1;
}

.overlay {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.overlay__section {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
}

.overlay__desq {
  position: absolute;
  display: flex;
  width: 322px;
  height: 168px;
  opacity: 0;
  transition: opacity 250ms var(--timing-function);
}

.overlay:hover .overlay__desq {
  opacity: 1;
}

.overlay__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: white;
}

.overlay:hover .overlay__section {
  transform: translateY(0);
}

.overlay__section {
  justify-content: center;
  align-items: center;
  display: flex;
}

/* test */

/*Footer*/

footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.address__nav {
  margin-top: 28px;
}

.address__nav > li {
  margin-bottom: 12px;
}

.address__nav > li:nth-child(3) {
  margin-bottom: 0px;
}

.footer-main__span {
  color: #ffffff;
}

.footer-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms var(--timing-function);
}

.address__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition: color 250ms var(--timing-function);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

.footer-tel:focus,
.footer-tel:hover {
  color: var(--accent-color);
}

.footer-email:focus,
.footer-email:hover {
  color: var(--accent-color);
}

.address__link:focus,
.address__link:hover {
  color: var(--accent-color);
}

.footer-main {
  display: flex;
  align-items: center;
}

.follow-us {
  margin-left: 70px;
  margin-top: -60px;
}

.follow-us__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.follow-us__list {
  display: flex;
  margin-top: 20px;
}

.follow-us__items {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.footer-soc-item:last-child {
  margin-right: 0;
}

.follow-us__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms var(--timing-function);
}

.follow-us__link:hover,
.ffollow-us__link:focus {
  background-color: var(--accent-color);
}

.follow-us__icon {
  fill: white;
}

.signup__form {
  padding: 0;
}

.signup {
  margin-left: 119px;
  margin-top: -46px;
  position: relative;
}

.signup__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: white;
  margin-bottom: 20px;
}

.signup__input {
  margin: 0;
  width: 358px;
  height: 50px;
  padding: 15px 0px 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--input-color);
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  transition: border 250ms var(--timing-function);
}

.signup__input:focus,
.signup__input:hover {
  border-color: var(--accent-color);
  outline: transparent;
}

.signup__field > input::placeholder {
  background-color: var(--input-color);
}

.signup__button {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  border-radius: 4px;
  border: none;
  overflow: hidden;
  padding: 10px 62px 10px 28px;
  margin-left: 12px;
  background: var(--accent-color);
  color: #ffffff;
  transition: background-color 250ms var(--timing-function);
}

.signup__button:hover,
.signup__button:focus {
  background-color: #188ce8;
}

.signup__icon {
  fill: white;
}

.signup__icon {
  position: absolute;
  position: absolute;
  top: 13px;
  right: 28px;
}

/* MODAL WINDOW TEST */

.feedback {
  width: 528px;
}

.feedback-title {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #212121;
}

.feedback__feedback-title {
  margin-bottom: 12px;
}

form {
  width: 528px;
  padding: 40px;
}

.form-item {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  margin-bottom: 10px;
}

.form-item label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.wrapper__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  font: inherit;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  transition: border-color 250ms var(--timing-function);
}

.wrapper {
  position: relative;
}

.wrapper__icon {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms var(--timing-function);
}

.wrapper__input:focus,
.wrapper__input:hover {
  border-color: var(--accent-color);
  outline: transparent;
}

.wrapper__input:focus + .wrapper__icon {
  fill: var(--accent-color);
}

.wrapper__input:hover + .wrapper__icon {
  fill: var(--accent-color);
}

.form-item__text {
  width: 100%;
  height: 120px;
  padding: 14px;
  font: inherit;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  padding: 12px 16px;
  resize: none;
}

.policy__button {
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
  overflow: hidden;
  padding: 10px 52px;
  margin-left: 12px;
  background-color: var(--accent-color);
  color: #ffffff;
  transition: background-color 250ms var(--timing-function);
  display: block;
  margin: 0 auto;
}

.policy__button:hover,
.policy__button:focus {
  background-color: #188ce8;
}

.form-checkbox {
  position: relative;
  flex-direction: column;
  margin-top: 12px;
  margin-bottom: 10px;
  transition: transform 250ms var(--timing-function),
    outline 250ms var(--timing-function), border 250ms var(--timing-function);
}

.form-item__text:focus,
.form-item__text:hover {
  border-color: var(--accent-color);
  outline: transparent;
}

.wrapper__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  font: inherit;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  transition: transform 250ms var(--timing-function),
    outline 250ms var(--timing-function), border 250ms var(--timing-function);
}

.policy-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7px;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 30px;
}

.policy-label__icon {
  display: flex;
  width: 16px;
  height: 16px;
  border: 2px solid var(--accent-color);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 7px;
  cursor: pointer;
}

.visually-hidden {
  visibility: hidden;
}

.policy-label__icon svg {
  fill: transparent;
}

.checkbox__input:checked + label > span {
  border: none;
  background-color: var(--accent-color);
}

.checkbox__input:checked + label > span svg {
  fill: white;
}

.policy-label__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-left: 3px;
}

.policy-label__link u {
  text-decoration: underline;
  color: var(--accent-color);
}
