*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}



section {
  padding-top: 94px;
  padding-bottom: 94px;
}
