@mixin flex-align-justify {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-align {
  display: flex;
  align-items: center;
}

@mixin justify-align {
  justify-content: center;
  align-items: center;
}

@mixin reset-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin section-paddings {
  padding-top: 94px;
  padding-bottom: 94px;
}

@mixin font ($fs: 14px, $fw: 400, $lh: 1.14, $ls: 0.03em) {
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
  letter-spacing: $ls;
}
