.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;
}

.card-set__item {
  margin-right: 30px;
  margin-bottom: 30px;
  overflow: hidden;
  transition: box-shadow 250ms var(--timing-function);

  &:nth-child(3n) {
    margin-right: 0px;
  }

  &:nth-last-of-type(-n + 3) {
    margin-bottom: 0px;
  }

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
