.characteristics {
  padding-top: 94px;
  padding-bottom: 0;

  &__list {
    display: flex;
  }

  &__item {
    max-width: 270px;
    margin-right: 30px;
  }

  &__subtitle {
    @include font($fw: 700, $fs: 1.14);
    text-transform: uppercase;
    color: var(--primary-header-color);
    margin-bottom: 10px;
  }

  &__text {
    @include font($lh: 1.71);
    color: var(--secondary-color);
  }

  &__icon {
    background-color: #f5f4fa;
    border-radius: 4px;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
