.follow-us {
  margin-left: 70px;
  margin-top: -60px;

  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }

  &__list {
    display: flex;
    margin-top: 20px;
  }

  &__items {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
}

.footer-soc-item:last-child {
  margin-right: 0;
}

.follow-us__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #afb1b8;
  @include flex-align-justify;
  transition: background-color 250ms var(--timing-function);
}

.follow-us__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.follow-us__icon {
  fill: white;
}

.signup {
  margin-left: 119px;
  margin-top: -46px;
  position: relative;

  &__form {
    padding: 0;
  }

  &__title {
    @include font($fw: 700);
    text-transform: uppercase;
    color: white;
    margin-bottom: 20px;
  }
}

.signup__input {
  margin: 0;
  width: 358px;
  height: 50px;
  padding: 15px 0px 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--input-color);
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  transition: border 250ms var(--timing-function);

  &:focus,
  &:hover {
    border-color: var(--accent-color);
    outline: transparent;
  }
}

.signup__field > input::placeholder {
  background-color: var(--input-color);
}

.signup__button {
  position: absolute;
  display: inline-flex;
  @include justify-align;
  min-width: 200px;
  border-radius: 4px;
  border: none;
  overflow: hidden;
  padding: 10px 62px 10px 28px;
  margin-left: 12px;
  background: var(--accent-color);
  color: #ffffff;
  transition: background-color 250ms var(--timing-function);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}

.signup__icon {
  position: absolute;
  fill: white;
  top: 13px;
  right: 28px;
}
