footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;

  &-link {
    @include font();
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms var(--timing-function);
  }
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.address__nav {
  margin-top: 28px;

  & > li {
    margin-bottom: 12px;
  }
}

.address__nav > li:nth-child(3) {
  margin-bottom: 0px;
}

.footer-main__span {
  color: #ffffff;
}

.footer-tel:focus,
.footer-tel:hover {
  color: var(--accent-color);
}

.footer-email:focus,
.footer-email:hover {
  color: var(--accent-color);
}

.address__link {
  @include font($fs: 14px, $fw: 400, $lh: 1.17, $ls: 0.03em);
  font-style: normal;
  color: #ffffff;
  transition: color 250ms var(--timing-function);

  &:focus,
  &:hover {
    color: var(--accent-color);
  }
}



.address__link-contacts {
  @include font($fs: 14px, $fw: 400, $lh: 1.17, $ls: 0.03em);
  font-style: normal;
  color:  rgba(255, 255, 255, 0.6);
  transition: color 250ms var(--timing-function);

  &:focus,
  &:hover {
    color: var(--accent-color);
  }
}


.footer-main {
  @include flex-align;
  &__span {
    font-family: "Raleway";
    color: white;
    margin-left: -7px;
  }

  &__logo {
    font-family: "Raleway";
    @include font(26px, 700, 1.19, 0.03em);
    color: var(--accent-color);
  }
}
