header {
  border-bottom: 1px solid #ececec;
}

.main-nav {
  @include flex-align;

  &__logo {
    @include font (26px, 700, 1.19, 0.03em);
    font-family: var(--secondary-font);
    color: var(--accent-color);
  }

  &__span {
    font-family: var(--secondary-font);
    color: var(--primary-header-color);
    margin-left: -7px;
  }
}

.navigation__list {
  display: flex;
  margin-left: 93px;

  & .item {
    position: relative;
  }

  & > li {
    margin-left: 40px;
  }
}

.navigation__link {
  display: block;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  @include font($fw: 500, $ls: 0.02em);
  color: var(--primary-header-color);
  transition: color 250ms var(--timing-function),
    transition 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.navigation__item .current {
  color: var(--accent-color);
}


.navigation__link.current::after {
  content: " ";
  display: block;
  position: absolute;
  background: var(--accent-color);
  border-radius: 2px;
  height: 4px;
  width: 100%;
  transform: translateY(30px);
  opacity: 1;
  transition: opacity 250ms var(--timing-function);

  &.current:hover::after {
    opacity: 1;
  }
}

.connections-list {
  display: flex;
  margin-left: auto;

  & > li {
    margin-left: 40px;
  }
}

.navigation__item:first-child{
  margin-left: 0px;
}

.connections-list__email,
.connections-list__tel {
  @include flex-align-justify;
  font-family: var(--main-font);
  @include font(14px, 500, 1.14, 0.02em);
  color: var(--secondary-color);
  transition: color 250ms var(--timing-function);

  &:focus,
  &:hover {
    color: var(--accent-color);
  }

  &:focus,
  &:hover {
    color: var(--accent-color);
  }
}

.connections-list__email:focus,
.connections-list__email:hover {
  color: var(--accent-color);
}

.connections-list__icon,
.header-phone-icon {
  margin-right: 10px;
  fill: currentColor;
  display: inline-flex;
}
