.our-team {
  background-color: #f5f4fa;

  &__title {
    text-align: center;
    color: var(--primary-header-color);
    margin-bottom: 50px;

    @media screen and (min-width: 768px) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 480px) {
    padding: 60px 0;
  }

  @media screen and (min-width: 768px) {
    padding: 60px 0;
  }
}

.staff-list {
  display: flex;
  flex-wrap: wrap;

  &__subtitle {
    color: var(--primary-header-color);
    margin-bottom: 10px;
    @include font($fs: 16px, $fw: 500, $lh: 1.18, $ls: 0.03em);
    text-align: center;
  }

  &__text {
    @include font($fs: 16px, $fw: 400, $lh: 1.18, $ls: 0.03em);
    color: var(--secondary-color);
    margin-bottom: 16px;
  }

  &__desq {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: white;
  }

  @media screen and (min-width: 480px) {
    flex-wrap: wrap;
  }

  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
  }
}

.staff-list__item {
  flex-basis: 100%;
  margin-right: 30px;
  margin-bottom: 30px;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  width: 100%;

  @media screen and (min-width: 480px) {
    display: block;
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 2);
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 120px) / 4);
  }
}
