// .our-business {
//   @media screen and (min-width: 768px) {
//     display: none;
//   }
// }

.our-business__title {
  color: var(--primary-header-color);
  text-align: center;
  margin-bottom: 50px;
}

.card-list {
  display: flex;

  &__items {
    margin-right: 30px;
    position: relative;
    @include flex-align-justify;
  }
}

.desq-label {
  width: 100%;
  height: 70px;
  @include flex-align-justify;
  position: absolute;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);

  &__text {
    @include font($fw: 700);
    text-align: center;
    text-transform: uppercase;
    color: white;
  }

  &__text:nth-child(3) {
    padding: 27px 65px;
  }
}
