.overlay {
  position: relative;
  @include flex-align-justify;
  overflow: hidden;

  &:hover:before {
    opacity: 1;
  }

  &__section {
    position: absolute;
    @include flex-align-justify;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms var(--timing-function);
  }

  &__desq {
    position: absolute;
    display: flex;
    width: 322px;
    height: 168px;
    opacity: 0;
    transition: opacity 250ms var(--timing-function);
  }

  &:hover .overlay__desq {
    opacity: 1;
  }

  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: white;
  }

  &:hover .overlay__section {
    transform: translateY(0);
  }
}
