.social {
  @include flex-align-justify;

  &__items {
    width: 44px;
    height: 44px;
  }
}

.social__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: white;
  color: #afb1b8;
  @include flex-align-justify;
  transition: background-color 250ms var(--timing-function),
    transition-duration 250ms var(--timing-function),
    color 250ms var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    transition-duration: 0s;
  }
}

.social__icons {
  fill: #afb1b8;
  transition: fill 250ms var(--timing-function);

  &:hover {
    fill: white;
  }
}

.social__link:hover .social__icons {
  background-color: var(--accent-color);
  fill: white;
}

.social__link:focus .social__icons {
  background-color: 250ms var(--accent-color);
  fill: white;
}

.social__items:not(:last-child) {
  margin-right: 10px;
}
