.websites {
  padding: 20px 24px;
  border: 1px solid #eeeeee;

  &__title {
    color: var(--primary-header-color);
    margin-bottom: 4px;
    @include font($fs: 18px, $fw: 700, $lh: 2, $ls: 0.06em);
    letter-spacing: 0.06em;
  }

  &__text {
    @include font($fs: 16px, $fw: 400, $lh: 1.19, $ls: 0.03em);
    color: var(--secondary-color);
  }
}
//
